/* Reset default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #DEEEF1;
}

/* css for header started here */
/* Fixed header styles */
.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #CDB9DF;
    color: #fff;
    padding: 10px 60px 10px 147px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fixed-header .logo a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    display: inline-block; /* Ensures "Unemployed" and "Online" are in the same line */
}
.fixed-header .logo .name {
    color: #000; /* Black color for "Unemployed" */
}
.fixed-header .logo .surname {
    color: #4CAF50; /* Green color for "Online" */
    
}
.fixed-header .auth {
    margin-right: 50px; /* Adjusted margin for the entire .auth block */
    
}
.fixed-header .auth .btn {
    padding: 8px 16px;
    color: #000000;
    text-align: center;
    text-decoration: none; /* Remove underline */
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}
.fixed-header .auth .contact-link {
    padding: 8px 16px;
    color: #000000;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    margin-right: 60px; /* Space between Log In/Register and Contact Us */
}
/* Content area styles */
.content {
    margin-top: 80px; /* adjust this to account for the fixed header height */
    padding: 20px;
    text-align: center;
}
.auth a {
    display: inline-block;
    padding: 10px 20px;
    transition: transform 0.2s ease-in-out;
}
.auth a:hover {
    transform: scale(1.1); /* Scale up by 10% on hover */
}

/* css for header ended here  */
/* first section css started here */
.firstSection {
    display: flex;
    width: 1356px;
    height: 747px;
    align-items: center;    
    margin-bottom: 0px;
    margin-left: 105px;
    margin-right: 51px;
    margin-top: 149px;
}
.leftSection {
    font-size: 75px;
    width: 684px;
    height: 747px;
    padding-top: 29px;
}
.rightSection img {
    width: 672px; /* Set the width to 672px */
    height: 747px; /* Set the height to 747px */
    border: 2px solid white; /* Adjusted border styling */
    border-radius: 15px;
}
.green {
    color: #4CAF50;
}
.textgrey {
    color: grey;
}
.textBlock {
    margin-top: 20px;
}
.textBlock p {
    margin: 0;
}
.textBlock1 p {
    font-size: 32px;
    font-family: 'Anek Devanagari', sans-serif;
    color: grey;
    padding-top: 45px;
    width: 584px;
}
.textBlock2 p {
    font-size: 32px;
    padding-top: 21px;
}
.textBlock3 p {
    font-size: 24px;
    padding-top: 31px;
    height: 216px;
    width: 629px;
}
/* first section css ended here */
