* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:  #F0F8FF;
}

/* Fixed header styles */
.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000001; 
  color: #fff;
  padding: 10px 60px 10px 147px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.fixed-header .logo a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  display: inline-block;
}

.fixed-header .logo .name {
  color: #ffffff;
}

.surname {
  color: #4CAF50;
}

.fixed-header .auth {
  margin-right: 50px;
}

.fixed-header .auth .btn {
  padding: 8px 16px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.fixed-header .auth .contact-link {
  padding: 8px 16px;
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  margin-right: 60px;
}
.content {
  margin-top: 80px; /* adjust this to account for the fixed header height */
  padding: 20px;
  text-align: center;
}
.auth a {
  display: inline-block;
  padding: 10px 20px;
  transition: transform 0.2s ease-in-out;
}
.auth a:hover {
  transform: scale(1.1); /* Scale up by 10% on hover */
}

/* css for header ended here  */
@media screen and (max-width: 1100px) and (min-width: 868px) {
  .fixed-header {
  padding-left: 40px; /* Adjust padding for logo alignment */
  }
    .logo {
    text-align: left;
    }

    .logo a {
      display: inline-block;
    }
    .fixed-header .auth{
        margin-right: 0px;

    }
    .fixed-header .auth .contact-link{
        margin-right: 0px;
    }
  }


@media screen and (max-width: 868px) {
  /* Hide auth content */
  .auth {
    display: none;
  }

  /* Add auth content to nav bar */
  .fixed-header {
    justify-content: flex-start;
    padding-left: 30px; /* Adjust padding for logo alignment */
  }


  .menu-icon {
    display: block;
    position: fixed;
    top: 10px;
    right: 20px;
    z-index: 1000;
    cursor: pointer;
    transition: transform 0.3s ease;
  }

  .menu-icon span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px auto;
    transition: background-color 0.3s ease;
  }

  .menu-toggle {
    display: none; /* Hide the checkbox */
  }

  .menu-toggle:checked ~ .menu-icon span:nth-child(1) {
    transform: rotate(45deg) translate(6px, 6px);
  }
  .menu-toggle:checked ~ .menu-icon span:nth-child(2) {
    opacity: 0; /* Hide the middle line when checked */
  }

  .menu-toggle:checked ~ .menu-icon span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
  }

  .menu-toggle:checked ~ .fixed-header .auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #000001;
    position: absolute;
    top: 47px;
    left: 0;
    width: 100%;
  }

  .menu-toggle:checked ~ .fixed-header .auth a {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #333;
  }

  .menu-toggle:checked ~ .fixed-header .auth a:last-child {
    border-bottom: none;
  }
  .fixed-header .auth{
        margin-right: 0px;

    }
    .fixed-header .auth .contact-link{
        margin-right: 0px;
    }
  .logo {
    text-align: left;
  }

  .logo a {
    display: inline-block;
  }
}

/* header css ended */
/* select your employment css started here */
.container4 {
    text-align: center;
    padding: 20px 0;
    margin-top: 129px;
    
  }
  h1 {
    font-size: 55px;
    margin-bottom: 50px;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .employment {
    display: inline-block;
    margin: 0 30px;
    text-align: center;
    width: 300px;
    
  }
  .employment img {
    width: 100%;
    border-radius: 30px;
    margin-bottom: 15px;
  }
  .employment h3 {
    font-size: 20px;
    width: 300px;
    margin-bottom: 10px;
    display: inline-block;
  }
  
  .container4 .employment {
  display: inline-block;
  padding: 10px 20px;
  transition: transform 0.2s ease-in-out;
  }
  .container4 .employment:hover {
    transform: scale(1.1); /* Scale up by 10% on hover */
    color: green;
  }
  p {
  text-align: center;
  margin: 50px 0;
  }
  .container4 .sign-in{
    display: inline-block;
    transition: transform 0.2s ease-in-out;
  }
  .container4 .sign-in:hover{
    transform: scale(1.1);
  }
/* select your employmet css ended here  */
  /* footer section */
  footer {
    background-color: #121212;
    padding: 30px 0;
    text-align: center;
    color: #ffffff;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  .logo1 {
    display: flex;
    align-items: center;
  }
  .logo1 img {
    height: 100px;
    transition: transform 0.2s ease-in-out;
  }
  .logo1 img:hover {
    transform: scale(1.1);
  }
  .logo1 a {
    text-decoration: none;
    transition: transform 0.2s ease-in-out;
  }
  .logo1 a:hover {
    transform: scale(1.1);
  }
  .nav-links {
    display: flex;
    gap: 20px;
  }
  .nav-links a {
    color: #fff;
    text-decoration: none;
    transition: transform 0.2s ease-in-out;
  }
  .nav-links a:hover {
    transform: scale(1.1);
  }
  .subscribe-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  .subscribe-form label {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .subscribe-form input[type="email"] {
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    background-color: #121212;
  }
  .subscribe-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #ADD8E6;
    color: #121212;
    cursor: pointer;
    width: max-content;
    transition: transform 0.2s ease-in-out;
  }
  .subscribe-form button:hover {
    transform: scale(1.1);
  }
  .copyright {
    margin-top: 20px;
    font-size: 14px;
  }
  .name {
    color: #fff;
  }
  .input-container {
    position: relative;
  }
  .error-icon {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      color: red; /* Color of the error icon */
      display: none; /* Initially hidden */
  }
  @media screen and (max-width: 1100px) and (min-width: 868px) {
    .container {
      margin-left: 3%;
      margin-right: 3%
    }
  }
  @media screen and (max-width: 868px){
    .container {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .nav-links {
        flex-wrap: nowrap;
        gap: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .subscribe-form {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
    .subscribe-form input[type="email"] {
        width: auto;
        max-width: none;
    }
    .subscribe-form button {
        width: auto;
        max-width: none;
    }
}
  /* footer ended here */




  /* sign up form  */
.first {
  margin-left: 50px;
  margin-right: 51px;
  margin-top: 129px; 
  display: flex;
  padding: 20px;
  margin-bottom: 20px;
}
.right {
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container001 {
  background-color: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 500px;
  height: 600px;
  text-align: center;
}
.container001 h1 {
  margin-bottom: 25px;
}
.signup-option {
  margin-bottom: 20px;
  width: 46%;
  margin-left: 27%;
  padding: 15px;
  border-radius: 60px;
  font-size: 18px;
  cursor: pointer;
}
.google {
  background-color: #db4a39;
  color: white;
}
.linkedin {
  background-color: #0077b5;
  color: white;
}
.input-field {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  border: 2px solid #B0C4DE;
  border-radius: 10px;   
}
.newacc-btn {
  background-color: #132727;
  color: rgb(255, 255, 255);
  padding: 15px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin: auto;
  margin-top: 25px;
  width: 60%;
}
.Login {
  color: #6c63ff;
  text-decoration: none;
  font-size: 18px;
}
.aboutOne {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  margin-right: 30px;
  min-height: 350px;
  width: 50%;
}
.aboutOne .box1{
  padding: 20px;
  max-width: fit-content;
  max-height: 450px;
}
.aboutOne .box2 {
  background-color: #fff;
  transform: rotate(-7deg);
  top: 20px;
  left: 50px;
}
.aboutOne .box2 .box3{
  background-color: #fff;
  transform: rotate(7deg);
  padding: 20px;
  font-size: 55px;
}
p {
  margin-top: 30px;
}
hr{
  margin-bottom: 10px;
}

/* media query for this  */
@media screen and (max-width: 1200px) and (min-width: 868px){
  .first{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 120px; 
    margin-bottom: 20px;
  }
  .aboutOne{
    min-width: 40%;
  }
    
  .aboutOne .box2 {
    margin-top: 20px;
    left: 0;
  }
  .aboutOne .box3 {
    padding: 15px;
    font-size: 40px;
  }
}
@media (max-width: 868px) {
  .first {
    flex-direction: column;
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 50px;
  }
  .aboutOne .box2 .box3{
    font-size: 7vw;
  }
  .aboutOne{
    min-width: 80%;
    min-height: 400px;
  }
  .right{
    flex: 100%;
    text-align: left;
    padding: 10px;
    margin-top: 20px;
  }
  .right{
    border-radius: 30px;
  }
  .container001{
    max-width: 500px;
    width: fit-content;
    height: fit-content;
  }
  .aboutOne {
    flex-direction: column;
    margin: 0px;
    }
}